.example-enter,
.example-leave {
  -webkit-transition: all .25s;
  transition: all .25s;
}

.headerText {
    border-top: 1px solid;
    text-align: left;
    background-color: #4183c4;
   
}
.horario{
    color: red;
    font-size: 30px;
    text-align: left;
    font-style: italic;
}
.contador{
    text-align: center;
    color: black;
}

h1 { color: black; text-align: center;}  

h4 {color: black; text-align: center; height: 100px; font-size: 20px;}

.example-enter,
.example-leave.example-leave-active {
  opacity: 0.01;
}

.example-leave.example-leave-active {
  margin-left: -128px;
}

.example-enter {
  margin-left: 128px;
}

.example-enter.example-enter-active,
.example-leave {
  margin-left: 0;
  opacity: 1;
}

.animateExample {
  display: block;
  height: 128px;
  position: relative;
  width: 384px;
}

.animateItem {
  color: white;
  font-size: 36px;
  font-weight: bold;
  height: 128px;
  line-height: 128px;
  position: absolute;
  text-align: center;
  -webkit-transition: all .25s; /* TODO: make this a move animation */
  transition: all .25s; /* TODO: make this a move animation */
  width: 128px;
}
